body{
    align-items: center;

    background-image:url(/css/images/GREY.jpg);
    color:white;

    background-attachment: fixed;
    background-size: cover;
}
.nav1{
    border: 1px solid black;
    border-style: ridge;
    box-sizing: border-box;
    background-color: white;
    word-spacing: 3cm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    background-image: url(/css/images/RADIOEQPT.jpg);

.nav2{
    border: 1px solid black;
    border-style: ridge;
    box-sizing: border-box;
    word-spacing:9cm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: white;
    background-image: url(/css/images/RADIOEQPT.jpg);
}
.h1{
    text-align: center;
    color:red;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}
#tr{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.footer{
    border: 1px solid black;  
    word-spacing:15cm;
}
button{
    padding:10px 15px;
    font-size: 10px;
    line-height: 10px;
    cursor: pointer;
    background-color: black;
    border-radius: 8px;
    color:white;
    background: linear-gradient(to right bottom, green,yellow);
    border: 10px;

}
a{
    color: white;
    text-decoration: none;
}
#more{
    color: blue;
}

#tr1{
    color: red;
    background-image:url('/css/images/GOLD.jpeg');
    word-spacing: 2cm;
}
#tr2{
    color: black;
    background-image:url('/css/images/GOLD.jpeg');


#table{
    color: black;
    height: 150px;
    width: 1500px;
}
.tr{
    text-align: left;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
th{
    color: red;
    font-size: 20px;
}
#kradio{
    color: red;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    color: red;
    position: absolute;

}
